.navbar {
    margin-top: 67px;
    width: 375px;
    height: 50px;
    background-color: #bbc0c5;
    display: flex;
    align-items: center;
    position: fixed;
}
.navbar ion-icon {
    margin-left: 30px;
    width: 30px;
    height: 30px;
    color: #e8833a;
}
@media screen and (max-width: 680px) {
    .navbar{
        width: 100%;
    }
}