.form {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.form input {
    width: 100%;
    height: 51px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}