.form {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
label {
    margin-left: 10%;
}
.form input {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 51px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}