.successPage {
    padding-top: 120px;
    padding-bottom: 130px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.successPage div:first-of-type {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.successPage div:first-of-type {
    height: 50px;
}

.successPage .container {
    min-height: 100px;
}
.successPage h2, .successPage h3, .successPage h4 {
    margin-left: 40px;
}

.successPage div:nth-of-type(3) {
    min-height: 100px;
}

.successPage h1 {
    text-align: center;
    font-size: 26px;
    margin: 10px;
    font-weight: 700;
    color: #247A6B;
    font-family: 'Roboto', sans-serif;
}

.successPage h2 {
    font-weight: 700;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
}
.successPage h4:last-of-type{
    margin-bottom: 30px;

}

.successPage .button {
    margin: auto;
    margin-top: 20px;
    width: 225px;
    max-height: 43px;
    color: #ffffff;
    background-color: #E8833A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.successPage .button h1 {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.successPage h3, .successPage h4 {
    font-size: 19px;
    font-family: 400;
    font-family: 'Roboto', sans-serif;
}

.successPage .button:hover {
    cursor: pointer;
}