.seat {
    width: 24px;
    height: 24px;
    border-radius: 20px;
    background-color: #C3CFD9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px 3px;
    border: #808F9D 1px solid;
}

.seat.occupied {
    background-color: #FBE192;
    border: 1px solid #F7C52B;

}

.seat.selected {
    background-color: #8DD7CF;
    border: 1px solid #1AAE9E;
}

.seatsMenu {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.seatsPage {
    padding-top: 50px;
    padding-bottom: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    height: 100%;
}

.label-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
}

.label {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label:first-of-type .seat {
    background-color: #8DD7CF;
    border: 1px solid #1AAE9E;
}

.label h3 {
    font-size: 10px;
}

.seatsMenu .seat:hover {
    cursor: pointer;
}

.button {
    margin: auto;
    margin-top: 20px;
    width: 225px;
    height: 43px;
    color: #ffffff;
    background-color: #E8833A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.button h2 {
    font-size: 18px;
    font-weight: 400;
}

.button:hover {
    cursor: pointer;
}

@media screen and (max-width: 680px) {
    .seat {
        width: 6vw;
        height: 6vw;
        border-radius: 20vw;
        margin: 2vw 1vw;
    }

    .seatsMenu {
        width: 80vw;
    }
}