@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;

}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}


.page {
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    box-sizing: content-box;
    min-height: 100vh;
}

.pageTitle {
    width: 100%;
    height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.pageTitle h1 {
    font-size: 24px;
    font-weight: 400;

}




@media screen and (min-width: 680px) {
    .page {
        width: 375px;
    }
}

@media screen and (max-width: 680px) {
    .page {
        width: 100%;
    }
}